<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  
  <!-- Product Definition -->
  <Product Id="*" 
           Name="Cricut Stencil Maker" 
           Language="1033" 
           Version="0.9.0.0" 
           Manufacturer="Cricut Stencil Maker Team" 
           UpgradeCode="12345678-1234-1234-1234-123456789012">
    
    <!-- Package Configuration -->
    <Package InstallerVersion="500" 
             Compressed="yes" 
             InstallScope="perUser"
             Description="Cricut Stencil Maker v0.9.0 Installer"
             Comments="Modern Windows application for creating Design Space-compatible SVG stencils"
             Manufacturer="Cricut Stencil Maker Team" />

    <!-- Media and Upgrade Rules -->
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <!-- Custom UI and Branding -->
    <UI>
      <UIRef Id="WixUI_InstallDir" />
      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="InstallDirDlg" Order="2">1</Publish>
      <Publish Dialog="InstallDirDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="2">1</Publish>
    </UI>
    
    <!-- License Agreement -->
    <WixVariable Id="WixUILicenseRtf" Value="Assets\license.rtf" />
    
    <!-- Installer Branding -->
    <WixVariable Id="WixUIBannerBmp" Value="Assets\banner.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="Assets\dialog.bmp" />

    <!-- Installation Directory -->
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    
    <!-- System Requirements Check -->
    <Property Id="NETFRAMEWORK60">
      <RegistrySearch Id="NetFramework60" Root="HKLM" 
                      Key="SOFTWARE\Microsoft\NET Framework Setup\NDP\v6.0" 
                      Name="Version" Type="raw" />
    </Property>
    
    <Condition Message="Microsoft .NET 6.0 or higher is required. Please install .NET 6.0 Runtime and try again.">
      <![CDATA[Installed OR NETFRAMEWORK60]]>
    </Condition>

    <!-- Windows Version Check -->
    <Condition Message="This application requires Windows 10 version 1809 (build 17763) or later.">
      <![CDATA[Installed OR (VersionNT >= 1000 AND VersionNT64)]]>
    </Condition>

    <!-- Feature Definition -->
    <Feature Id="ProductFeature" Title="Cricut Stencil Maker" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentRef Id="ApplicationShortcuts" />
      <ComponentRef Id="FileAssociations" />
    </Feature>
  </Product>

  <!-- Directory Structure -->
  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="LocalAppDataFolder">
        <Directory Id="INSTALLFOLDER" Name="CricutStencilMaker" />
      </Directory>
      
      <!-- Start Menu -->
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="Cricut Stencil Maker" />
      </Directory>
      
      <!-- Desktop -->
      <Directory Id="DesktopFolder" />
    </Directory>
  </Fragment>

  <!-- Application Files -->
  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      
      <!-- Main Application -->
      <Component Id="MainApplication" Guid="*">
        <File Id="CricutStencilMakerExe" 
              Source="$(var.CricutStencilMaker.TargetPath)" 
              KeyPath="yes" />
      </Component>
      
      <!-- Application Dependencies -->
      <Component Id="AppDependencies" Guid="*">
        <File Id="AppXaml" Source="$(var.CricutStencilMaker.ProjectDir)App.xaml" />
        <File Id="MainWindowXaml" Source="$(var.CricutStencilMaker.ProjectDir)MainWindow.xaml" />
        <File Id="AppManifest" Source="$(var.CricutStencilMaker.ProjectDir)Package.appxmanifest" />
      </Component>
      
      <!-- Runtime Dependencies (these would be populated by heat.exe) -->
      <Component Id="RuntimeDependencies" Guid="*">
        <!-- WinUI 3 Runtime files would be included here -->
        <CreateFolder />
      </Component>
      
    </ComponentGroup>
  </Fragment>

  <!-- Shortcuts and File Associations -->
  <Fragment>
    
    <!-- Application Shortcuts -->
    <Component Id="ApplicationShortcuts" Directory="ApplicationProgramsFolder" Guid="*">
      <Shortcut Id="ApplicationStartMenuShortcut"
                Name="Cricut Stencil Maker"
                Description="Create Design Space-compatible SVG stencils from images"
                Target="[#CricutStencilMakerExe]"
                WorkingDirectory="INSTALLFOLDER" />
      
      <Shortcut Id="ApplicationDesktopShortcut"
                Directory="DesktopFolder"
                Name="Cricut Stencil Maker"
                Description="Create Design Space-compatible SVG stencils from images"
                Target="[#CricutStencilMakerExe]"
                WorkingDirectory="INSTALLFOLDER" />
      
      <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall" />
      <RegistryValue Root="HKCU" 
                     Key="Software\CricutStencilMaker" 
                     Name="installed" 
                     Type="integer" 
                     Value="1" 
                     KeyPath="yes" />
    </Component>

    <!-- File Associations -->
    <Component Id="FileAssociations" Directory="INSTALLFOLDER" Guid="*">
      
      <!-- PNG Files -->
      <ProgId Id="CricutStencilMaker.PNG" Description="PNG Image for Stencil Creation">
        <Extension Id="png" ContentType="image/png">
          <Verb Id="open" Command="Open with Cricut Stencil Maker" Argument='"%1"' />
        </Extension>
      </ProgId>
      
      <!-- JPEG Files -->
      <ProgId Id="CricutStencilMaker.JPEG" Description="JPEG Image for Stencil Creation">
        <Extension Id="jpg" ContentType="image/jpeg">
          <Verb Id="open" Command="Open with Cricut Stencil Maker" Argument='"%1"' />
        </Extension>
        <Extension Id="jpeg" ContentType="image/jpeg">
          <Verb Id="open" Command="Open with Cricut Stencil Maker" Argument='"%1"' />
        </Extension>
      </ProgId>
      
      <!-- Other Image Formats -->
      <ProgId Id="CricutStencilMaker.BMP" Description="Bitmap Image for Stencil Creation">
        <Extension Id="bmp" ContentType="image/bmp">
          <Verb Id="open" Command="Open with Cricut Stencil Maker" Argument='"%1"' />
        </Extension>
      </ProgId>
      
      <CreateFolder />
    </Component>
    
  </Fragment>
  
</Wix>